# web app
gunicorn==23.0.0
uvicorn-worker==0.3.0
connexion[swagger-ui,uvicorn]==3.2.0
openapi-spec-validator==0.7.1
prance==25.4.8.0

# database
SQLAlchemy[asyncio]==2.0.40
psycopg[binary,pool]==3.2.9

# core
git+https://github.com/benwu95/dataclass-mixins.git@v0.0.3
httpx==0.28.1
pendulum==3.1.0
retrying==1.3.4
cachetools==5.5.2
orjson==3.11.2

# packages
pika==1.3.2  # message queue
openpyxl==3.1.5  # dataclass2excel
